@using BookHeaven.Server.Helpers
<MudCard Elevation="4"
         Class="@CardClass"
         @onclick="HandleBookClick"
         style="@Transitions.GetTransitionName("card", Book.BookId)">

	@if (IsSelectMode)
	{
		<span class="absolute bottom-3 right-2 size-5 @(IsSelected ? "bg-(--mud-palette-tertiary)" : "bg-white") border border-2 border-(--mud-palette-primary) z-10 rounded-full flex items-center justify-center animate-flip-in-x animate-iteration-count-once animate-duration-300">
			@if (IsSelected)
			{
				<MudIcon Icon="@Icons.Material.Filled.Check" Class="text-xs"/>
			}
		</span>
	}
	<div class="h-[250px] overflow-hidden">
		<MudCardMedia Image="@Book.CoverUrl(true)" Class="transition-transform h-full duration-150 group-hover:scale-105" style="@Transitions.GetTransitionName("img", Book.BookId)"/>
	</div>
	<MudCardContent
		Class="flex-1 relative flex flex-col gap-1 transition-colors group-hover:bg-slate-700">
		<MudText Typo="Typo.body2" Class="inline-block" style="@Transitions.GetTransitionName("title", Book.BookId)">@Book.Title</MudText>
		<MudText Typo="Typo.body2" Color="Color.Secondary" Class="inline-block" style="@Transitions.GetTransitionName("author", Book.BookId)">@Book.Author?.Name</MudText>
		<MudText Typo="Typo.caption" Color="Color.Primary" Class="inline-block" style="@Transitions.GetTransitionName("series", Book.BookId)">@Book.Series?.Name</MudText>
		@if (Book.Progresses.Any())
		{
			<span class="absolute z-10 bottom-0 inset-x-0">
				<MudProgressLinear
					Color="Color.Primary"
					Size="Size.Small"
					Value="@((double)Book.Progress().Progress)"
					style="@Transitions.GetTransitionName("progress-bar", Book.BookId)"/>
			</span>
		}
	</MudCardContent>
</MudCard>

@code {
	[Parameter] public required Book Book { get; set; }
	[Parameter] public bool IsInteractive { get; set; } = true;
	[Parameter] public bool IsSelectMode { get; set; } = false;
	[Parameter] public bool IsSelected { get; set; } = false;
	[Parameter] public EventCallback<(Guid id, bool shiftPressed)> OnBookClicked { get; set; }
	
	private string CardClass => $"animate-fade-in animate-duration-200 flex-1 relative overflow-hidden flex flex-col select-none {(!IsInteractive ? "pointer-events-none" : "group hover:cursor-pointer active:scale-95 transition-transform ")}";
	
	private async Task HandleBookClick(MouseEventArgs e)
	{
		if (!IsInteractive)
			return;

		await OnBookClicked.InvokeAsync((Book.BookId, e.ShiftKey));
	}
}