@using BookHeaven.Server.Helpers
<MudCard Elevation="4"
         Class="tw:group tw:overflow-hidden tw:flex tw:flex-col tw:hover:cursor-pointer"
         @onclick="@(() => NavigationManager.NavigateTo(Urls.GetBookUrl(Book.BookId)))">


	<div class="tw:h-[250px] tw:overflow-hidden">
						<span class="tw:h-full" style="@Transitions.GetTransitionName("img", Book.BookId)">
							<MudCardMedia Image="@Assets[Book.CoverUrl()]" Class="tw:transition-transform !tw:h-full tw:duration-150 tw:group-hover:scale-105"/>
						</span>

	</div>


	<MudCardContent
		Class="tw:flex-1 tw:relative tw:flex tw:flex-col tw:gap-1 tw:transition-colors tw:group-hover:bg-slate-700">
						<span class="tw:absolute tw:z-10 tw:bottom-0 tw:inset-x-0" style="@Transitions.GetTransitionName("progress-bar", Book.BookId)">
							<MudProgressLinear
								Color="Color.Primary"
								Size="Size.Small"
								Value="@((double)Book.Progress().Progress)"/>
						</span>
		<MudText Typo="Typo.body2"><span style="@Transitions.GetTransitionName("title", Book.BookId)">@Book.Title</span></MudText>
		<MudText Typo="Typo.body2" Color="Color.Secondary"><span style="@Transitions.GetTransitionName("author", Book.BookId)">@Book.Author?.Name</span></MudText>
		<MudText Typo="Typo.caption" Color="Color.Primary"><span style="@Transitions.GetTransitionName("series", Book.BookId)">@Book.Series?.Name</span></MudText>
	</MudCardContent>
</MudCard>

@code {
	[Inject] private NavigationManager NavigationManager { get; set; } = null!;
	
	[Parameter] public required Book Book { get; set; }
}