@using BookHeaven.Server.Helpers
@attribute [Route($"{Urls.Shelf}/{{Id:guid}}")]
@attribute [Route($"{Urls.Shelf}/{{Id:guid}}/{{Editing}}")]
<ScrollToTop />
@if(!IsEditing)
{
	<div class="tw-fixed tw-left-0 tw-top-0 tw-right-0 tw-bottom-0 -tw-z-10 tw-blur-3xl tw-opacity-10">
		<img class="tw-h-full tw-w-full" src="@(_book.CoverUrl)" alt="" />
	</div>
}

<PageTitle>@_book.Title</PageTitle>
<SectionContent SectionName="TopBar">
	<MudTooltip Text="@Translations.GO_BACK">
		<MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Color="Color.Primary" Href="/shelf" />
	</MudTooltip>
	<MudSpacer />
	@if (!IsEditing)
	{
		<MudTooltip Text="@Translations.DOWNLOAD">
			<MudIconButton Icon="@Icons.Material.Filled.Download" Color="Color.Primary" Href="@_book.EpubUrl" download="@_book.FormattedFileName"/>
		</MudTooltip>
		<MudTooltip Text="@Translations.EDIT">
			<MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" OnClick="EnableEditing"/>
		</MudTooltip>
	}
	else
	{
		<MudTooltip Text="@Translations.CANCEL" Color="Color.Warning">
			<MudIconButton Icon="@Icons.Material.Filled.Clear" Color="Color.Warning" OnClick="DisableEditing"/>
		</MudTooltip>
		<MudTooltip Text="@Translations.SAVE">
			<MudIconButton Icon="@Icons.Material.Filled.Save" Color="Color.Primary" OnClick="Save"/>
		</MudTooltip>
	}
</SectionContent>
@*<div class="tw-flex tw-gap-3 tw-sticky tw-top-[calc(var(--mud-appbar-height)-var(--mud-appbar-height)/4)] tw-bg-[var(--mud-palette-appbar-background)] tw-backdrop-blur tw-z-10">
	
</div>*@
<div class="tw-mx-auto tw-w-10/12 tw-mt-10 tw-flex tw-flex-wrap tw-gap-10">
	<div class="tw-w-[200px]">
		<img src="@(_newCoverTempPath ?? _book.CoverUrl)" style="@Transitions.GetTransitionName("img", _book.BookId)" alt="" />
		@if (IsEditing && _newCoverTempPath != null)
		{
			<MudAlert Class="tw-mt-4" Severity="Severity.Warning">The new cover won't be applied until the changes are saved.</MudAlert>
		}
	</div>
	<div class="tw-flex-1">
		@if (!IsEditing)
		{
			<div id="book-header" class="tw-mb-6 tw-flex tw-flex-col tw-text-balance">
				<MudText Typo="Typo.h4"><span style="@Transitions.GetTransitionName("title", _book.BookId)">@_book.Title</span></MudText>
				<MudText Typo="Typo.h5" Class="tw-mb-2" Color="Color.Secondary"><span style="@Transitions.GetTransitionName("author", _book.BookId)">@_book.Author?.Name</span></MudText>
				@if (_book.Series != null)
				{
					<MudText Typo="Typo.h6" Color="Color.Primary"><span style="@Transitions.GetTransitionName("series", _book.BookId)">@_book.Series.Name - @Translations.BOOK @_book.SeriesIndex?.ToString("0.##")</span></MudText>
				}
			</div>
			@if (_progress.ElapsedTime != TimeSpan.Zero)
			{
				<MudPaper Class="tw-mb-5 tw-flex tw-p-5 md:tw-min-w-[350px] tw-w-full lg:tw-w-fit tw-flex-col tw-gap-5" Elevation="0">
					<div class="tw-flex tw-gap-5 tw-justify-between">
						<dl>
							<dt>@Translations.START_DATE</dt>
							<dd>@_progress.StartDate?.ToString("d")</dd>
						</dl>
						<dl>
							<dt>@Translations.END_DATE</dt>
							@if (_progress.EndDate != null)
							{
								<dd>@_progress.EndDate.Value.ToString("d")</dd>
							}

						</dl>

						<dl>
							<dt>@Translations.READ_TIME</dt>
							<dd class="tw-whitespace-nowrap">@_progress.ElapsedTimeFormatted()</dd>
						</dl>
					</div>

					<div class="tw-flex tw-gap-3 tw-items-center">
						<MudProgressLinear Color="Color.Primary" Rounded="true" Size="Size.Medium" Value="@((double)_progress.Progress)" />
						<span class="tw-text-nowrap">@_progress.Progress.ToString("0.##") %</span>
					</div>

				</MudPaper>
			}
			<div class="tw-flex tw-mb-2">
				@if (_book.ISBN10 != null)
				{
					<dl id="isbn10">
						<dt>ISBN-10</dt>
						<dd>@_book.ISBN10</dd>
					</dl>
				}
				@if (_book.ISBN13 != null)
				{
					<dl id="isbn13">
						<dt>ISBN-13</dt>
						<dd>@_book.ISBN13</dd>
					</dl>
				}
			</div>
			<dl class="tw-grid tw-gap-3 tw-grid-cols-[150px_1fr] tw-items-center tw-text-xl">
				@if (_book.Publisher != null)
				{
					<dt>@Translations.PUBLISHER</dt>
					<dd>@_book.Publisher</dd>
				}
				@if (_book.PublishedDate != null)
				{
					<dt>@Translations.PUBLISHED</dt>
					<dd>@_book.PublishedDate.Value.ToString("D")</dd>
				}
				@if (_book.Description != null)
				{
					<dt class="tw-col-span-2">@Translations.DESCRIPTION</dt>
					<dd class="tw-max-w-[800px] md:tw-min-w-[450px] tw-leading-8 tw-col-span-2">@((MarkupString)_book.Description)</dd>
				}
			</dl>

		}
		else
		{
			<div class="tw-flex tw-gap-3 tw-mb-5">
				<MudTooltip Text="Get Metadata">
					<MudIconButton Icon="@Icons.Material.Rounded.CloudDownload" Variant="Variant.Filled" Color="Color.Tertiary" OnClick="@ShowMetadataDialog"/>
				</MudTooltip>
				<MudTooltip Text="@(string.IsNullOrEmpty(_book.GetCoverPath(Program.CoversPath, true)) ? Translations.ADD_COVER : Translations.REPLACE_COVER)">
					<MudFileUpload T="IBrowserFile" FilesChanged="UploadCoverToTempPath" Accept=".jpg">
						<ActivatorContent>
							<MudIconButton HtmlTag="label"
							               Variant="Variant.Filled"
							               Color="Color.Tertiary"
							               Class="tw-w-full"
							               Icon="@Icons.Material.Filled.Image"/>
						</ActivatorContent>
					</MudFileUpload>
				</MudTooltip>
				<MudTooltip Text="Replace epub file">
					<MudFileUpload T="IBrowserFile" FilesChanged="UploadEpubToTempPath" Accept=".epub" Class="!tw-m-0">
						<ActivatorContent>
							<MudIconButton HtmlTag="label"
							               Variant="Variant.Filled"
							               Color="Color.Tertiary"
							               Class="tw-w-full"
							               Icon="@Icons.Material.Rounded.DriveFileMove"/>
						</ActivatorContent>
					</MudFileUpload>
				</MudTooltip>

			</div>
			<MudGrid Spacing="4" Class="tw-mb-7">
				<MudItem xs="12">
					<MudText Typo="Typo.h5" Class="tw-mb-2">Progress</MudText>
				</MudItem>
				<MudItem xs="12" md="4">
					@* <MudDatePicker @bind-Date="_progress.StartDate" Label="@Translations.START_DATE" Variant="Variant.Filled"></MudDatePicker> *@
					<MudDateOffsetPicker @bind-NullableValue="_progress.StartDate" Label="@Translations.START_DATE" Required="false" />
				</MudItem>
				<MudItem xs="12" md="4">
					<MudDateOffsetPicker @bind-NullableValue="_progress.EndDate" Label="@Translations.END_DATE" Required="false" />
					@* <MudDatePicker @bind-Date="_progress.EndDate" Label="@Translations.END_DATE" Variant="Variant.Filled"></MudDatePicker> *@
				</MudItem>
				<MudItem xs="12" md="4">
					<MudTextField @bind-Value="_progress.ElapsedTime" HelperText="Hours:Minutes" Label="@Translations.READ_TIME" Variant="Variant.Filled" Converter="_timeReadConverter" Clearable="true"></MudTextField>
				</MudItem>
			</MudGrid>
			<MudGrid Spacing="4" Style="min-width:300px;">
				<MudItem xs="12">
					<MudText Typo="Typo.h5" Class="tw-mb-2">Metadata</MudText>
				</MudItem>
				<MudItem xs="12" md="6">
					<MudTextField @bind-Value=_book.Title Label="@Translations.TITLE" Variant="Variant.Filled"></MudTextField>
				</MudItem>
				<MudItem xs="12" md="6">
					<MudTextField @bind-Value=_authorName Label="@Translations.AUTHOR" list="authors" Clearable="true" Variant="Variant.Filled"></MudTextField>
				</MudItem>
				<MudItem xs="12" md="2">
					<MudNumericField @bind-Value=_book.SeriesIndex Label="@Translations.SERIES_INDEX" Variant="Variant.Filled"></MudNumericField>
				</MudItem>
				<MudItem xs="12" md="10">
					<MudTextField @bind-Value=_seriesName Label="@Translations.SERIES" list="series" Clearable="true" Variant="Variant.Filled"></MudTextField>
				</MudItem>
				<MudItem xs="12" md="4">
					<MudTextField @bind-Value=_book.ISBN10 Label="ISBN-10" Variant="Variant.Filled"></MudTextField>
				</MudItem>
				<MudItem xs="12" md="4">
					<MudTextField @bind-Value=_book.ISBN13 Label="ISBN-13" Variant="Variant.Filled"></MudTextField>
				</MudItem>
				<MudItem xs="12" md="4">
					<MudTextField @bind-Value=_book.ASIN Label="ASIN" Variant="Variant.Filled"></MudTextField>
				</MudItem>
				<MudItem xs="12" md="8">
					<MudTextField @bind-Value=_book.Publisher Label="@Translations.PUBLISHER" Variant="Variant.Filled"></MudTextField>
				</MudItem>
				<MudItem xs="12" md="4">
					<MudDatePicker @bind-Value=_book.PublishedDate Label="@Translations.PUBLISHED" Variant="Variant.Filled"></MudDatePicker>
				</MudItem>
				<MudItem xs="12">
					<MudTextField @bind-Value=_book.Description Label="@Translations.DESCRIPTION" Lines="12" AutoGrow="true" Variant="Variant.Filled"></MudTextField>
				</MudItem>
			</MudGrid>

			<datalist id="authors">
				@foreach (var author in _authors)
				{
					<option value="@author.Name">@author.Name</option>
				}
			</datalist>

			<datalist id="series">
				@foreach (var serie in _series)
				{
					<option value="@serie.Name">@serie.Name</option>
				}
			</datalist>
		}
	</div>
	
</div>

<MudDialog @bind-Visible="_searchingMetadata" OnBackdropClick="@(() => _searchingMetadata = false)">
	<DialogContent>
		@if(_metadataList.Count == 0)
		{
			<MudAlert Severity="Severity.Info">No metadata found for this book.</MudAlert>
		}
		else
		{
			<MudStack Spacing="10">
				@foreach (var metadata in _metadataList)
				{
					<div>
						<div class="tw-flex tw-items-start">
							<img src="@metadata.CoverURL" class="tw-max-w-[200px]" alt="" />

							<div class="tw-flex-1 tw-ml-4">
								<p class="tw-text-xl">@metadata.Title</p>
								<p class="tw-text-lg">@metadata.Author</p>
								<p>@metadata.Publisher</p>
								@if(metadata.PublishedDate != null)
								{
									<p>@metadata.PublishedDate.Value.ToString("D")</p>
								}
								<div class="tw-flex tw-items-center tw-flex-wrap">
									@if (!string.IsNullOrEmpty(metadata.ISBN10))
									{
										<MudChip T="MarkupString" Size="Size.Small" Color="Color.Primary">
											ISBN-10: <span class="tw-ms-1">@metadata.ISBN10</span>
										</MudChip>
									}
									@if (!string.IsNullOrEmpty(metadata.ISBN13))
									{
										<MudChip T="MarkupString" Size="Size.Small" Color="Color.Primary">
											ISBN-13: <span class="tw-ms-1">@metadata.ISBN13</span>
										</MudChip>
									}
								</div>
							</div>
						</div>
						<p class="tw-mt-4">@metadata.Description</p>
					</div>
					
				}
			</MudStack>
		}
	</DialogContent>
	<DialogActions>
		<MudButton Color="Color.Primary">Apply</MudButton>
		<MudButton Color="Color.Secondary">Cancel</MudButton>
	</DialogActions>
</MudDialog>


