<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
	<div class="components-reconnect-container">
		<div class="components-rejoining-animation" aria-hidden="true">
			<div></div>
			<div></div>
		</div>
		<p class="components-reconnect-first-attempt-visible">
			@Translations.RECONNECT_MODAL_INFO_RECONNECT
		</p>
		<p class="components-reconnect-repeated-attempt-visible">
			@((MarkupString)string.Format(Translations.RECONNECT_MODAL_INFO_RETRYING, @"<span id='components-seconds-to-next-attempt'></span>"))
		</p>
		<p class="components-reconnect-failed-visible">
			@((MarkupString)Translations.RECONNECT_MODAL_INFO_RECONNECT_FAILED)
		</p>
		<button id="components-reconnect-button" class="components-reconnect-failed-visible">
			@Translations.RECONNECT_MODAL_BUTTON_RECONNECT
		</button>
		<p class="components-pause-visible">
			@Translations.RECONNECT_MODAL_INFO_PAUSE
		</p>
		<button id="components-resume-button" class="components-pause-visible">
			@Translations.RECONNECT_MODAL_BUTTON_RESUME
		</button>
		<p class="components-resume-failed-visible">
			@Translations.RECONNECT_MODAL_INFO_RESUME_FAILED
		</p>
	</div>
</dialog>