@using BookHeaven.Domain.Enums
@using BookHeaven.Domain.Services
@using BookHeaven.Server.Abstractions
@attribute [Route(Urls.Shelf)]

@implements IDisposable

<PageTitle>@Translations.SHELF</PageTitle>

<ScrollToTop />

@if (IsLoading)
{
	return;
}

@if (BookManager.IsEmpty)
{
	<div class="absolute inset-0 flex items-center justify-center">
		<span class="text-4xl">@Translations.SHELF_EMPTY</span>
	</div>
	return;
}

<Topbar>
	<MudChipSet T="BookStatus" @bind-SelectedValue="BookManager.Filter" Class="mx-2" CheckMark>
		<MudChip Value="BookStatus.All" Variant="Variant.Text" Color="Color.Primary">@BookStatus.All.StringValue()</MudChip>	
		<MudChip Value="BookStatus.New" Variant="Variant.Text" Color="Color.Primary">@BookStatus.New.StringValue()</MudChip>
		<MudChip Value="BookStatus.Reading" Variant="Variant.Text" Color="Color.Primary">@BookStatus.Reading.StringValue()</MudChip>
		<MudChip Value="BookStatus.Finished" Variant="Variant.Text" Color="Color.Primary">@BookStatus.Finished.StringValue()</MudChip>
	</MudChipSet>
</Topbar>

@if (BookManager.Books.Count > 0)
{
	<BookGrid 
		Books="BookManager.Books.OrderBy(b => b.Author?.Name).ThenBy(b => b.Series?.Name).ThenBy(b => b.SeriesIndex).ToList()" 
		Center="true"
		IsSelectMode="IsSelectMode"
		@bind-SelectedBooks="_selectedBooks"/>
	<BottomToolbar>
		@if (!IsSelectMode)
		{
			<MudIconButton 
				OnClick="ToggleSelectMode"
				Icon="@Icons.Material.Filled.SelectAll"
				Variant="Variant.Filled"/>
			<span>Mass edit mode</span>
		}
		else
		{
			<MudIconButton 
				OnClick="ToggleSelectMode"
				Icon="@Icons.Material.Filled.Deselect"
				Variant="Variant.Filled" />
			<MudIconButton 
				OnClick="() => SelectIconAction.Invoke()"
				Icon="@SelectIcon"
				Variant="Variant.Filled" />
			<MudButton
				Color="Color.Tertiary"
				Variant="Variant.Filled">
				Set Tags
			</MudButton>
			<MudButton
				Color="Color.Tertiary"
				Variant="Variant.Filled">
				Edit
			</MudButton>
			<MudSpacer/>
			
			<span class="ms-auto text-nowrap font-bold">@_selectedBooks.Count selected</span>
		}
	</BottomToolbar>
}
else
{
	<div class="absolute inset-0 flex items-center justify-center">
		<span class="text-4xl">@Translations.SHELF_FILTER_NO_RESULTS</span>
	</div>
}


@code {
	[Inject] private NavigationManager NavigationManager { get; set; } = null!;
	[Inject] private IJSRuntime JsRuntime { get; set; } = null!;
	[Inject] private BookManager BookManager { get; set; } = null!;
	[Inject] private ISessionService SessionService { get; set; } = null!;
	[Inject] private EventsService EventsService { get; set; } = null!;
	
	private bool IsLoading { get; set; } = true;
	private Guid ProfileId { get; set; }
	
	private bool IsSelectMode { get; set; } = false;
	private List<Guid> _selectedBooks = [];
	private string SelectIcon => _selectedBooks.Count switch
	{
		0 => Icons.Material.Filled.CheckBoxOutlineBlank,
		_ when _selectedBooks.Count == BookManager.Books.Count => Icons.Material.Filled.CheckBox,
		_ => Icons.Material.Filled.IndeterminateCheckBox
	};
	
	private Action SelectIconAction => _selectedBooks.Count switch
	{
		0 => SelectAllBooks,
		_ when _selectedBooks.Count == BookManager.Books.Count => DeselectAllBooks,
		_ => SelectAllBooks
	};
	

	protected override async Task OnInitializedAsync()
	{
		EventsService.OnBookAdded += OnBookAdded;
		ProfileId = await SessionService.GetAsync<Guid>(SessionKey.SelectedProfileId);
		
		await BookManager.GetBooksAsync(ProfileId);
		IsLoading = false;
	}

	private async void OnBookAdded(Guid bookId)
	{
		await BookManager.AppendBookAsync(ProfileId, bookId);
		await InvokeAsync(StateHasChanged);
	}
	
	private void ToggleSelectMode()
	{
		IsSelectMode = !IsSelectMode;
		if (!IsSelectMode)
		{
			_selectedBooks.Clear();
		}
	}
	
	private void SelectAllBooks()
	{
		_selectedBooks.Clear();
		_selectedBooks.AddRange(BookManager.Books.Select(b => b.BookId));
	}
	
	private void DeselectAllBooks()
	{
		_selectedBooks.Clear();
	}

	public void Dispose()
	{
		EventsService.OnBookAdded -= OnBookAdded;
		JsRuntime.InvokeVoidAsync("saveScrollPosition", Urls.Shelf);
	}

}
