@attribute [Route(Urls.Authors)]
<PageTitle>@Translations.AUTHORS</PageTitle>

<MudTable 
    Breakpoint="Breakpoint.None"
    Items="_authors" 
    Loading="_authors == null" 
    CanCancelEdit="true" 
    Hover="true" 
    RowEditPreview="@(a => _elementBeforeEdit = ((Author)a).Clone())" 
    OnCommitEditClick="@(() => DatabaseService.SaveChanges() )" 
    RowEditCancel="CancelEdit"
    ApplyButtonPosition="TableApplyButtonPosition.Start">
    <ColGroup>
        <col style="width: 50px;"/>
        <col style="width: 300px;"/>
        <col/>
        <col style="width: 100px;"/>
    </ColGroup>
    <HeaderContent>
        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Author, object>(x => x.Name!)">@Translations.NAME</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<Author, object>(x => x.Books.Count())">@Translations.BOOKS</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Name</MudTd>
        <MudTd>@context.Books.Count()</MudTd>
        <MudTd>
            <MudIconButton Class="tw-ms-2" ClickPropagation="false" Variant="Variant.Filled" Icon="@((_showDetails[context.AuthorId])? Icons.Material.Outlined.RemoveCircle : Icons.Material.Filled.RemoveRedEye)" OnClick="@(() => _showDetails[context.AuthorId] = !_showDetails[context.AuthorId])"></MudIconButton>
        </MudTd>
    </RowTemplate>
    <RowEditingTemplate>
        <MudTd><MudTextField @bind-Value="context.Name" Variant="Variant.Outlined"/></MudTd>
        <MudTd>@context.Books.Count()</MudTd>
    </RowEditingTemplate>
    <ChildRowContent>
        @if (_showDetails[context.AuthorId])
        {
            <MudTr>
                <td colspan="4">
                    <MudCard Elevation="0">
                        <MudCardHeader>
                            <MudText Typo="Typo.h6">@Translations.BOOKS_FROM @context.Name</MudText>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudTable Breakpoint="Breakpoint.None" T="Book" Items="context.Books" Context="book" Elevation="0" Outlined="true" Dense="true" OnRowClick="@(r => NavigationManager.NavigateTo($"/book/{r.Item.BookId}"))">
                                <ColGroup>
                                    <col style="width: 200px;"/>
                                    <col/>
                                </ColGroup>
                                <HeaderContent>
                                    <MudTh><MudTableSortLabel SortBy="new Func<Book, object>(x => x.Title!)">@Translations.TITLE</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Book, object>(x => string.Concat(x.Series?.Name, x.SeriesIndex))">@Translations.SERIES</MudTableSortLabel></MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd>@book.Title</MudTd>
                                    <MudTd>
                                        @if (book.Series != null)
                                        {
                                            @:@book.Series?.Name - @book.SeriesIndex?.ToString("0.##")
                                        }
                                    </MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudCardContent>
                    </MudCard>
                    
                </td>
            </MudTr>
        }
    </ChildRowContent>
</MudTable>

@code {
    [Inject] private IDatabaseService DatabaseService { get; set; } = null!;
    [Inject] private NavigationManager NavigationManager { get; set; } = null!;
    
    IEnumerable<Author>? _authors;
    Author? _elementBeforeEdit;
    Dictionary<Guid, bool> _showDetails = new();

    protected override async Task OnInitializedAsync()
    {
        _authors = await DatabaseService.GetAllIncluding<Author>(a => a.Books);
        _showDetails = _authors.ToDictionary(a => a.AuthorId, a => false);
    }
    
    private void CancelEdit(object element)
    {
        ((Author)element).Name = _elementBeforeEdit!.Name;
        _elementBeforeEdit = null;
    }

}