@using BookHeaven.Domain.Features.Authors
@attribute [Route($"{Urls.Authors}/{{Id:guid}}")]
@attribute [Route(Urls.CreateAuthor)]

<Topbar>
	<GoBackButton Url="@Urls.Authors" />
	<MudSpacer />
	@if (!_editMode)
	{
		<MudTooltip Text="@Translations.EDIT">
			<MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" OnClick="@EnableEditing"/>
		</MudTooltip>
	}
	else
	{
		if (Id is not null)
		{
			<MudTooltip Text="@Translations.CANCEL" Color="Color.Warning">
				<MudIconButton Icon="@Icons.Material.Filled.Clear" Color="Color.Warning" OnClick="@DisableEditing"/>
			</MudTooltip>
		}
		<MudTooltip Text="@Translations.SAVE">
			<MudIconButton Icon="@Icons.Material.Filled.Save" Color="Color.Primary" OnClick="@Save"/>
		</MudTooltip>
	}
</Topbar>
<Container Class="px-4 py-5">
	<div class="flex flex-wrap gap-5 lg:gap-10 mb-10">
		<div class="w-[250px] rounded overflow-hidden mx-auto">
			@if (string.IsNullOrEmpty(_author.ImageUrl))
			{
				<div class="h-[375px] bg-slate-600 flex flex-col items-center justify-center">
					<MudIcon Icon="@Icons.Material.Rounded.PersonOff" Size="Size.Large"/>
					<span>No image</span>
				</div>
			}
			else
			{
				<img src="@_author.ImageUrl" alt=""/>
			}
			@if (!_editMode)
			{
				<div class="p-2 bg-slate-700">
					<p class="text-center">@BooksRead finished out of @_author.Books.Count</p>
				</div>
			}
			
		</div>
		<div class="flex-1">
			@if (!_editMode)
			{
				<h1>@_author.Name</h1>
				if (!string.IsNullOrWhiteSpace(_author.Biography))
				{
					<p>@((MarkupString)_author.Biography)</p>
				}
			}
			else
			{
				<MudTextField Class="mb-5" Label="@Translations.NAME" @bind-Value="_author.Name" Variant="Variant.Filled"/>
				<RichTextEditor
					Label="Biography / Info"
					@bind-Value="_author.Biography"
					/>
				//<MudTextField Label="Biography" Lines="12" @bind-Value="_author.Biography" Variant="Variant.Filled"/>
			}
			
		</div>
	</div>
	@if (!_editMode)
	{
		<h2 class="mb-5">@_author.Books.Count @(_author.Books.Count > 1 ? "books" : "book")</h2>
		<BookGrid Books="_author.Books.OrderBy(b => b.Author?.Name).ThenBy(b => b.Series?.Name).ThenBy(b => b.SeriesIndex).ToList()" />
	}
	
</Container>

@code {
	[Inject] private ISender Sender { get; set; } = null!;
	[Inject] private NavigationManager NavigationManager { get; set; } = null!;
	[Inject] private ISessionService SessionService { get; set; } = null!;
	[Parameter] public Guid? Id { get; set; }
	
	private Author _author = new();
	private Guid _profileId;

	private bool _editMode;
	
	private int BooksRead => _author.Books.Count(book => book.ReadingStatus() == BookStatus.Finished);

	protected override async Task OnInitializedAsync()
	{
		_profileId = await SessionService.GetAsync<Guid>(SessionKey.SelectedProfileId);
	}

	protected override async Task OnParametersSetAsync()
	{
		if (Id is null)
		{
			_editMode = true;
			return;
		}
		if (_author.AuthorId == Guid.Empty || Id != _author.AuthorId)
		{
			var getAuthor = await Sender.Send(new GetAuthor.Query(new GetAuthor.Filter {AuthorId = Id, ProfileId = _profileId, IncludeBooks = true}));
			if (getAuthor.IsFailure)
			{
				return;	
			}
			_author = getAuthor.Value;
		}
	}

	private void EnableEditing()
	{
		_editMode = true;
	}

	private void DisableEditing()
	{
		_editMode = false;
	}

	private async Task Save()
	{
		if (Id is not null)
		{
			var updateAuthor = await Sender.Send(new UpdateAuthor.Command(_author!));
			if (updateAuthor.IsFailure)
			{
				return;
			}
		}
		else
		{
			var addAuthor = await Sender.Send(new AddAuthor.Command(_author));
			if (addAuthor.IsFailure)
			{
				return;
			}
			NavigationManager.NavigateTo(Urls.GetAuthorUrl(_author.AuthorId));
		}
		
		DisableEditing();
	}

}