@using BookHeaven.Domain.Enums
@using BookHeaven.Domain.Features.Authors
@using BookHeaven.Server.Abstractions
@attribute [Route($"{Urls.Authors}/{{Id:guid}}")]
@attribute [Route($"{Urls.Authors}/{{Id:guid}}/{{Editing}}")]

@if(!_isLoaded)
{
	return;
}
<Topbar>
	<GoBackButton />
	<MudSpacer />
	@if (!IsEditing)
	{
		<MudTooltip Text="@Translations.EDIT">
			<MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" OnClick="@EnableEditing"/>
		</MudTooltip>
	}
	else
	{
		<MudTooltip Text="@Translations.CANCEL" Color="Color.Warning">
			<MudIconButton Icon="@Icons.Material.Filled.Clear" Color="Color.Warning" OnClick="@DisableEditing"/>
		</MudTooltip>
		<MudTooltip Text="@Translations.SAVE">
			<MudIconButton Icon="@Icons.Material.Filled.Save" Color="Color.Primary" OnClick="@Save"/>
		</MudTooltip>
	}
</Topbar>
<Container Class="px-4 py-5">
	<div class="flex flex-wrap gap-5 lg:gap-10 mb-10">
		<div class="w-[250px] rounded overflow-hidden mx-auto">
			@if (string.IsNullOrEmpty(_author.ImageUrl))
			{
				<div class="h-[375px] bg-slate-600 flex flex-col items-center justify-center">
					<MudIcon Icon="@Icons.Material.Rounded.PersonOff" Size="Size.Large"/>
					<span>No image</span>
				</div>
			}
			else
			{
				<img src="@_author.ImageUrl" alt=""/>
			}
			<div class="p-2 bg-slate-700">
				<p class="text-center">@BooksRead finished out of @_author.Books.Count</p>
			</div>
		</div>
		<div class="flex-1">
			@if (!IsEditing)
			{
				<h1>@_author.Name</h1>
				<p>@_author.Biography</p>
			}
			else
			{
				<MudTextField Label="@Translations.NAME" @bind-Value="_author.Name" Variant="Variant.Filled"/>
				<MudTextField Label="Biography" Lines="12" @bind-Value="_author.Biography" Variant="Variant.Filled"/>
			}
			
		</div>
	</div>
	@if (!IsEditing)
	{
		<h2 class="mb-5">@_author.Books.Count @(_author.Books.Count > 1 ? "books" : "book")</h2>
		<BookGrid Books="_author.Books.OrderBy(b => b.Author?.Name).ThenBy(b => b.Series?.Name).ThenBy(b => b.SeriesIndex).ToList()" />
	}
	
</Container>

@code {
	[Inject] private ISender Sender { get; set; } = null!;
	[Inject] private NavigationManager NavigationManager { get; set; } = null!;
	[Inject] private ISessionService SessionService { get; set; } = null!;
	[Parameter] public Guid Id { get; set; }
	[Parameter] public string? Editing { get; set; }
	
	private bool _isLoaded;
	private Author _author = new();
	private bool IsEditing => Editing == "edit";
	private Guid _profileId;
	
	private int BooksRead => _author.Books.Count(book => book.ReadingStatus() == BookStatus.Finished);

	protected override async Task OnInitializedAsync()
	{
		_profileId = await SessionService.GetAsync<Guid>(SessionKey.SelectedProfileId);
	}

	protected override async Task OnParametersSetAsync()
	{
		if (_author.AuthorId == Guid.Empty || Id != _author.AuthorId)
		{
			var getAuthor = await Sender.Send(new GetAuthor.Query(new GetAuthor.Filter {AuthorId = Id, ProfileId = _profileId, IncludeBooks = true}));
			if (getAuthor.IsFailure)
			{
				return;	
			}
			_author = getAuthor.Value;
			_isLoaded = true;
			StateHasChanged();	
		}
	}

	private void EnableEditing()
	{
		NavigationManager.NavigateTo($"{Urls.GetAuthorUrl(_author.AuthorId)}/edit");
	}

	private void DisableEditing()
	{
		NavigationManager.NavigateTo(Urls.GetAuthorUrl(_author.AuthorId));
	}

	private async Task Save()
	{
		var updateAuthor = await Sender.Send(new UpdateAuthor.Command(_author));
		if (updateAuthor.IsFailure)
		{
			return;
		}
		DisableEditing();
	}

}